@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	user-select: none;
	font-family: "Poppins", sans-serif;
	transition: 0.5s
		linear(
			0 0%,
			0 2.27%,
			0.02 4.53%,
			0.04 6.8%,
			0.06 9.07%,
			0.1 11.33%,
			0.14 13.6%,
			0.25 18.15%,
			0.39 22.7%,
			0.56 27.25%,
			0.77 31.8%,
			1 36.35%,
			0.89 40.9%,
			0.85 43.18%,
			0.81 45.45%,
			0.79 47.72%,
			0.77 50%,
			0.75 52.27%,
			0.75 54.55%,
			0.75 56.82%,
			0.77 59.1%,
			0.79 61.38%,
			0.81 63.65%,
			0.85 65.93%,
			0.89 68.2%,
			1 72.7%,
			0.97 74.98%,
			0.95 77.25%,
			0.94 79.53%,
			0.94 81.8%,
			0.94 84.08%,
			0.95 86.35%,
			0.97 88.63%,
			1 90.9%,
			0.99 93.18%,
			0.98 95.45%,
			0.99 97.73%,
			1 100%
		);
}

body {
	width: 100vw;
	height: 100vh;
	background: #dfdfdf;
}

body > section {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

section#create-popup {
	background: #0008;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#review-list {
	background-color: #dfdfdf;
	display: grid;
	grid-template-columns: 1fr 50px;
	grid-template-rows: 50px 8em 1fr 1fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

/* for home section */
section#home {
	background: #dfdfdf;
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 92px 40px 7px 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

header {
	grid-area: 1 / 1 / 2 / 3;
}

h1 {
	font-family: "Boldonse", sans-serif;
	text-align: center;
	color: #3c3c3c;
	text-transform: uppercase;
	font-size: 3em;
}

span.btn,
label.btn {
	padding: 5px;
	font-weight: 600;
	display: flex;
	width: fit-content;
	border-radius: 12px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

span.create-list {
	color: #a36200;
	background: #ffc10782;
	grid-area: 2 / 1 / 3 / 2;
}

label.import-list {
	color: #327134;
	background: #4caf5082;
	grid-area: 2 / 2 / 3 / 3;
}

span.btn:hover {
	padding: 10px;
}

span.btn:active {
	border-radius: 0px;
	padding: 5px;
}

section#home > div.lists {
	grid-area: 4 / 1 / 5 / 3;
	border-radius: 10px;
	box-shadow: inset 0 0 18px 0 black;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	position: relative;
}

div.lists > div.list {
	padding: 15px;
	background: #ffffff;
	box-shadow: inset 0 0 13px 0 #adadad, inset 7px -4px 13px 0 #878686;
	height: min-content;
	cursor: pointer;
	border-radius: 7px;
	margin: 7px 27px;
}

div.list:active {
	transform: scale(0.85);
}
div.list:hover {
	transform: scale(1.25);
}
/* For popup */
div.popup {
	width: 75%;
	height: 90%;
	border-radius: 15px;
	background: #dfdfdf;
	display: grid;
	grid-template-columns: 1fr 50px 50px;
	grid-template-rows: 60px 35px 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

h2 {
	text-transform: capitalize;
	text-align: center;
	font-size: 3em;
	grid-area: 1 / 1 / 2 / 4;
}

div.popup > span.check {
	color: #a2ff2b;
	border-radius: 0px 0px 0px 15px;
	grid-area: 1 / 2 / 2 / 3;
}

div.popup > span.check:hover {
	background-color: #a2ff2b;
}

div.popup > span {
	transition: 0.25s linear;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff3a2b;
	font-size: 33px;
	cursor: pointer;
	grid-area: 1 / 3 / 2 / 4;
	border-radius: 0px 15px;
}

div.popup > span:hover {
	background-color: #ff3a2b;
	color: #ffffff;
}

div.name {
	padding: 0px 15px;
	grid-area: 2 / 1 / 3 / 4;
}

div.name input {
	background: none;
	border: none;
	border-bottom: 2px solid black;
	outline: none;
}

div.table {
	grid-area: 3 / 1 / 4 / 4;
	overflow: auto;
	padding: 5px;
}

table {
	width: 100%;
}
table,
thead,
tbody,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

.delete-box {
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	cursor: pointer;
}
table input {
	width: 100%;
}

/* Review List */

section#review-list > h1 {
	font-family: "Sour Gummy", sans-serif;
	font-weight: 900;
	font-size: 8em;
	grid-area: 1 / 1 / 3 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
section#review-list > span {
	transition: 0.25s linear;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff3a2b;
	font-size: 33px;
	cursor: pointer;
	grid-area: 1 / 2 / 2 / 3;
	border-radius: 0px 0px 0px 15px;
}

section#review-list > span:hover {
	background-color: #ff3a2b;
	color: #ffffff;
}

section#review-list > div {
	padding: 15px;
}

section#review-list > div > span.desc {
	font-family: "Boldonse", sans-serif;
}

section#review-list > div.meaning {
	grid-area: 3 / 1 / 4 / 3;
}

section#review-list > div.synonym {
	grid-area: 4 / 1 / 5 / 3;
}

section#review-list > div.sentence {
	grid-area: 5 / 1 / 6 / 3;
}

@media (max-width: 800px) {
	h1 {
		font-size: 6vw;
	}
	section#home {
		grid-template-rows: 12vw 40px 7px 1fr;
	}
	section#review-list > h1 {
		font-size: 12vw;
	}
	section#review-list {
		grid-template-columns: 1fr 50px;
		grid-template-rows: 50px 12vw 1fr 1fr 1fr;
	}
	div.popup {
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}
}

@media (max-width: 500px) {
	section#home > div.lists {
		justify-content: center;
	}
}

input[type="file"] {
	display: none;
}

div.context-menu {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	background: #3c3c3c;
	border-radius: 5px;
	top: 50px;
	left: 0px;
}

div.context-menu > span {
	transition: 0.25s linear;
	display: block;
	color: #ffffff;
	display: flex;
	align-items: center;
	margin: 2px 0px;
}

div.context-menu > span > span {
	font-size: 15px;
	margin-left: 5px;
}

div.context-menu > span:hover {
	background-color: #575757;
}

section.show {
	z-index: 1;
}
